Makefile
Makefile.in
config.h
config.h.in
aclocal.m4
config.*
configure
libtool
.deps
.DS_Store
stamp-h1
*.pc
*.o
*.lo
*.tap

autom4te.cache
buildutils
parser/lexer.c
parser/parser.c
parser/parser.output
parser/taulap

boot/taula
